body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img {
  width: inherit;
}

.navbar {
  background-color: maroon;
  color: white;
}

.card {
  margin-top: 5%;
}

form {
  margin-top: 5%;
}

ul {
  padding: 0;
}
